extends ../base

block head
    link(rel="stylesheet", href="assets/styles/app.min.css")
    title WD

block content
    .wrapper
        .section.hero
            .container.hero-container
                .hero__logo
                    img.hero__logo-img(src="./assets/images/logo.png", alt="logo")
                p.hero__text Be sure you put your feet in the right place
                .hero__code
                    input.code__input(type="text" placeholder="Enter your zip code")
                    .code__gallery
                        img.code__img(src="./assets/images/gallery-1.png", alt="gallery-1")
                        img.code__img(src="./assets/images/gallery-2.png", alt="gallery-2")
                        img.code__img(src="./assets/images/gallery-3.png", alt="gallery-3")
                        img.code__img(src="./assets/images/gallery-4.png", alt="gallery-4")
                        img.code__img(src="./assets/images/gallery-5.png", alt="gallery-5")
                        img.code__img(src="./assets/images/gallery-6.png", alt="gallery-6")
                        img.code__img(src="./assets/images/gallery-7.png", alt="gallery-7")
                        img.code__img(src="./assets/images/gallery-8.png", alt="gallery-8")
                        img.code__img(src="./assets/images/gallery-9.png", alt="gallery-9")
                        img.code__img(src="./assets/images/gallery-10.png", alt="gallery-10")
                    .code__text
                        p This is Photoshop's version  of Lorem Ipsum. 
                    button.code__btn Press me
        .section.docs
            .container.docs-container
                .docs__item
                    img.item__img(src="./assets/images/documents.png", alt="documents")
                    .item__content
                        h2.item__title Documents
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
                .docs__item
                    img.item__img(src="./assets/images/photos.png", alt="photos")
                    .item__content
                        h2.item__title Photos
                        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
        .section.pad
            .container.heading-container
                img.pad__img(src="./assets/images/pad.png", alt="pad")
                .pad__content
                    h2.content__title This is a Heading
                    p.content__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    p.content__text Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        .section.desc
            .container.desc-container
                .desc__decor
                img.desc__img(src="./assets/images/desc.png", alt="desc")
                .desc__content
                    h2.content__title This is a Heading
                    p.desc__text Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    button.desc__btn Download
        .section.map
            .container.map-container
                .map__google(id="map")
                .map__message
                    ul.message__list
                        li.message__item
                            input.message__name(type="text" placeholder="Name")
                        li.message__item         
                            input.message__email(type="text" placeholder="Email address")
                        li.message__item
                            input.message__msg(type="text" placeholder="Message")
                    button.message__btn
                        <i class="fas fa-check"></i>
        footer.footer
            .container.footer-container
                p.footer__text  © Copyright 2013 Css Author, All Rights Reserved. 
        script(src="./assets/scripts/map.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBU7ivVs8JFRrkng8K8020K-juQstb8xA&callback=initMap" async defer)